<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Agenda-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F69B80071E97F25F005E5EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69B801E1E97F260005E5EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69B80291E97F260005E5EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
